@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 

/* :root{
  
} */
.App {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: #2B3240;
}

/* Task UI styles */
.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-right: 40px;
  padding: 1rem;
  box-shadow: 0 1px 2px #151515;
}

.transaction-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.check {
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.remove {
  background-color: red;
  color: white;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.edit {
  background-color: grey;
  color: white;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Form styles */
.form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
}

.add {
  cursor: pointer;
}

.navBar{
  background-color: #DE7456;
}

.mainLogo{
  margin-left: -910px;
  padding-top: 1%;
}

.h1Landing{
  padding-top: 4.5%;
  margin-left: -100px;
  font-size: 50px;
  color:#E5FAFC;
}

.h2Landing{
  margin-left: -765px;
  font-size: 30px;
  color:#E5FAFC;
}

.pLanding{
  text-align: justify;
  padding-left: 7.6%;
  padding-right: 10%;
  line-height: 25px;
  color:#E5FAFC;
}

.landingButtons{
  display: flex;
  flex-direction: row;
}

.signUp{
  display: flex;
  flex-direction: column;
  background-color: #DE7456;
  border: 2px solid white;
  border-radius: 12px;
  padding: 5%;
  color: white;
  font-size: 20px;
  font-weight: 15px;
  font-family: 'Quicksand', sans-serif;
  
}

.login{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 7%; 
  background-color: #2B3240;
  border-color: white;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 15px;
  font-family: 'Quicksand', sans-serif;
}

.navButton{
  padding-left: 900px;
}


